@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

html,
body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}

a,
a:link,
a:visited {
  color: #2979ff;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #2979ff;
  text-decoration: underline;
}

.hero {
  width: 100%;
  height: 70vh;
  margin-bottom: 1rem;
}

.hero > .overlay {
  background: rgb(0, 0, 0, 0.3);
  height: 80vh;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.short-about {
  text-align: center;
  color: darkslategrey;
  padding: 1rem;
}

.short-about-container {
  display: "flex";
  justify-content: center;
}

.parallax-header {
  width: 100%;
}

.logo-header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.logo-text-container {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  opacity: 0.9;
}

.hero-title {
  font-family: "Lato", sans-serif !important;
  opacity: 0.9;
}

.icon-background {
  background: #e3e3e3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.MuiFilledInput-input {
  background: #e3e3e3 !important;
}

.rbc-toolbar-label {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
}

.date-menu {
  text-align: right;
  font-size: 0.9rem;
  text-transform: uppercase !important;
  font-weight: 500;
  padding-right: 0.6rem;
}

a.menu-item {
  color: whitesmoke;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-size: 20px;
  line-height: 2.5rem;
  font-weight: 500;
  margin: 0.2rem 0.8rem;
  text-decoration: none;
}

a.menu-item:hover {
  text-decoration: none;
}

.active-nav {
  border: #e1e1e1 solid 1px;
  margin: 0 !important;
  padding: 6px 19px !important;
  text-decoration: none;
}

.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: "";
  position: absolute;
  border: #e1e1e1 solid 1px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before,
.hvr-outline-in:focus:before,
.hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.form-style {
  margin: 0.5rem;
}

.dashed-border {
  border: 3px dashed grey;
}

.error-border {
  border: 3px solid #d32f2f;
}

.agendaDateRow {
  font-size: 1.375rem;
}

.bottom-button {
  padding-bottom: 2rem;
}

.MuiFormLabel-root {
  color: #171717 !important;
}

.Mui-disabled {
  color: grey !important;
}

.session {
  cursor: pointer;
}

.session-selected {
  background: #edf5f4 !important;
  border: 2px #3f50b5 solid !important;
}

.pdf-item {
  border: 2px solid #969696;
  padding: 1rem;
  margin-bottom: 1rem;
}

.dropzone {
  background-image: linear-gradient(
    45deg,
    #f7f7f7 25%,
    #ffffff 25%,
    #ffffff 50%,
    #f7f7f7 50%,
    #f7f7f7 75%,
    #ffffff 75%,
    #ffffff 100%
  );
  background-size: 56.57px 56.57px;
}

.cal-options {
  font-size: 1rem !important;
}

.dialog-content {
  color: #171717;
  min-width: 70vw;
}

.dialog-text li {
  line-height: 0.625rem;
}

.MuiTypography-body1 li {
  line-height: 0.625rem;
}

.event-border {
  border-bottom: #b9bdfa solid 2px !important;
}

.accordion-hover:hover {
  background: #eeeeee;
  transition: background 0.5s;
}

.human-check-submit {
  display: flex;
  align-items: center;
  padding: 1.3rem 0;
}

#testSource {
  padding-left: 0.5rem;
}

.entry-toolbar {
  display: flex;
}

.entry-toolbar > div {
  margin: 5px;
}

.MuiFormHelperText-root {
  font-size: 14px !important;
}

.MuiBadge-badge {
  border-radius: 5px !important;
  text-transform: uppercase;
}

.event-link,
.event-link:visited {
  text-decoration: none;
  color: #021533;
}

.event-link:hover {
  color: #1c54b2;
}

a,
a:hover > .MuiButton-label {
  text-decoration: none !important;
}

.MuiTypography-body1 li {
  line-height: 1.5rem !important;
}

li > p {
  margin: 0.2rem;
}

.eventAccordion .MuiAccordionSummary-root {
  background: #e6f0f7 !important;
}
.eventAccordion .MuiAccordionSummary-root:hover {
  background: #c7dceb !important;
}
