@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

html,
body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}

.hero {
  width: 100%;
  height: 70vh;
  margin-bottom: 1rem;
}

.hero > .overlay {
  background: rgb(0, 0, 0, 0.3);
  height: 80vh;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.short-about {
  text-align: center;
  color: darkslategrey;
  padding: 1rem;
}

.short-about-container {
  display: "flex";
  justify-content: center;
}

.parallax-header {
  width: 100%;
}

.logo-header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.logo-text-container {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  opacity: 0.9;
}

.hero-title {
  font-family: "Lato", sans-serif !important;
  opacity: 0.9;
}

.icon-background {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

/* .rbc-agenda-time-cell {
  display: none;
}

.rbc-header {
  display: none;
} */

.rbc-toolbar-label {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
}

.date-menu {
  text-align: right;
  font-size: 0.9rem;
  text-transform: uppercase !important;
  font-weight: 500;
  padding-right: 0.6rem;
}

a.menu-item {
  color: whitesmoke;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.form-style {
  margin: 0.5rem;
}

.dashed-border {
  border: 3px dashed grey;
}

.agendaDateRow {
  font-size: 1.375rem;
}

.bottom-button {
  padding-bottom: 2rem;
}

.MuiFormLabel-root {
  color: #171717 !important;
}

.session-selected {
  border: 2px #969696 solid !important;
}

.session-selected {
  background: #ebebeb !important;
  border: 2px #3f50b5 solid !important;
}

.pdf-item {
  border: 2px solid #3f50b5;
  padding: 1rem;
}

.dropzone {
  background-image: linear-gradient(
    45deg,
    #f7f7f7 25%,
    #ffffff 25%,
    #ffffff 50%,
    #f7f7f7 50%,
    #f7f7f7 75%,
    #ffffff 75%,
    #ffffff 100%
  );
  background-size: 56.57px 56.57px;
}

.cal-options {
  font-size: 1rem !important;
}
